@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #dd3a3d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #9a0305;
}

body {
    font-family: "Ubuntu", sans-serif !important;
}


#floating-image {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
    width: 500px;
    height: 500px;
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}