#home-who-we-are-section {
    margin: 70px 0px;
}

#about-img{
    margin: 0;
}

#home-who-we-are-section h2 {
    padding: 30px 0px;
}

.home-title {
    font-size: 48px;
    color: #00000096;
    text-align: center;
}

#home-who-we-are-section img {
    width: 500px;
    height: 500px;
}

#home-who-we-are-section p {
    font-size: 20px;
    color: #000000a3;
    line-height: 1.9;
    width: 600px;
    text-align: justify;
}

#home-who-we-are-section a {
    display: block;
    width: fit-content;
    margin: 5px 0px;
    color: #DD3A3D;
    font-size: 20px;
    border-bottom: 1px solid #DD3A3D;
    text-decoration: none;
}

#home-why-companies-trust-us {
    height: 300px;
    text-align: center;
    background-color: #FFF9F4;
}

#home-numbers-title {
    height: 135px;
    display: flex;
    align-items: center;
}

#home-numbers span {
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
}

#home-numbers {
    height: 150px;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.home-subtitles.col-md-3.col-sm-6 {
    padding: 0px;
}

.visible-on-small-screens{
    display: block;
}

@media (max-width: 1400px) {
    #about-content {
        padding: 40px;
    }
}

@media (max-width: 1260px) {

    .home-title {
        font-size: 45px;
    }

    #home-who-we-are-section p {
        width: 600px;
    }

    #home-who-we-are-section img {
        width: 450px;
        height: 450px;
    }

    #home-numbers span {
        font-size: 32px;
    }

    #home-numbers {
        font-size: 22px;
    }
}

@media (max-width: 1152px) {

    .home-title {
        font-size: 40px;
    }

    #home-who-we-are-section p {
        font-size: 19px;
    }

    #home-who-we-are-section img {
        width: 400px;
        height: 400px;
    }
}

@media (max-width: 992px) {

    .home-title {
        padding: 0;
    }

    #home-who-we-are-section img {
        width: 400px;
        height: 400px;
    }

    #home-who-we-are-section p {
        width: 750px;
    }

    #about-content {
        padding: 0px 12px;
    }

    #home-why-companies-trust-us {
        height: 250px;
    }

    #home-numbers-title {
        height: 115px;
    }

    #home-numbers {
        height: 135px;
        font-size: 20px;
    }

    #home-numbers span {
        font-size: 30px;
    }
}

@media (max-width: 767.5px) {

    .home-title {
        font-size: 38px;
    }

    #home-who-we-are-section p {
        font-size: 18px;
        width: 600px;
    }

    #home-who-we-are-section a {
        font-size: 19px;
    }

    #home-why-companies-trust-us {
        height: 350px;
    }

    #home-numbers-title {
        height: 110px;
    }

    #home-numbers {
        height: 200px;
        font-size: 19px;
    }

    #home-numbers span {
        font-size: 28px;
    }
}

@media (max-width: 575.5px) {

    #home-why-companies-trust-us {
        height: 500px;
    }
    
    #home-numbers {
        height: 350px;
        font-size: 19px;
    }

    #home-numbers span {
        font-size: 27px;
    }

    .home-subtitles{
        margin-bottom: 10px;
    }
}

@media (max-width: 520px) {
    .home-title {
        margin-bottom: 15px;
        font-size: 36px;
    }

    #home-who-we-are-section p {
        font-size: 17px;
        width: auto;
    }

    #home-who-we-are-section img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 425px) {
    
    .home-title {
        font-size: 34px;
    }

    #home-numbers-title {
        height: 125px;
    }
}

@media (max-width: 360px) {

    .home-title {
        font-size: 30px;
    }

    #home-who-we-are-section p {
        font-size: 16px;
    }
    
    #home-numbers {
        font-size: 17px;
    }

    #home-numbers span {
        font-size: 25px;
    }

}

@media (max-width: 320px) {

    #home-who-we-are-section img {
        width: 270px;
        height: 270px;
    }
    
    #home-numbers {
        font-size: 16px;
    }
}

@media (max-width: 290px) {

    #home-who-we-are-section img {
        width: 250px;
        height: 250px;
    }
}


@media (min-width: 425px){
    .visible-on-small-screens {
        display: none;
    }
}
